.shop-container{
    display: flex;
}
.product-container{
    width: 75%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 2px solid lightgray;
}
.card-container{
    margin-left: 5px;
    margin-right: 5px;
}